---
# Tâches pour Git, Go, Node.js, Python
- name: Installer les outils de développement (Git, Go, Node.js, Python)
  apt:
    name:
      - git
      - golang-go
      - nodejs
      - npm
      - python3
      - python3-pip
    state: present
  tags:
    - dev_tools

# Tâches pour Docker
- name: Ajouter la clé GPG officielle de Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  tags:
    - dev_tools

- name: Ajouter le dépôt Docker
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present
  tags:
    - dev_tools

- name: Installer Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: yes
  tags:
    - dev_tools

- name: S'assurer que Docker est démarré et activé
  service:
    name: docker
    state: started
    enabled: yes
  tags:
    - dev_tools
    
