# Cleanup: Reset UFW to default before applying new rules
- name: Reset UFW to default
  community.general.ufw:
    state: reset
  tags:
    - security
- name: Changer le port SSH par défaut
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Port 22'
    line: 'Port {{ ssh_port }}'
    state: present
    mode: '0644'
  notify: Restart SSH
  tags:
    - security

- name: Installer UFW (Uncomplicated Firewall)
  ansible.builtin.apt:
    name: "{{ security_packages }}"
    state: present
  tags:
    - security

- name: Autoriser le nouveau port SSH dans UFW
  community.general.community.general.ufw:
    rule: allow
    port: '{{ ssh_port }}'
    proto: tcp
  tags:
    - security

- name: Autoriser les ports HTTP (80) et HTTPS (443)
  # Utilisation des numéros de port car les profils UFW 'http' et 'https' peuvent ne pas exister
  ufw:
    rule: allow
    port: '{{ item }}'
    proto: tcp
  loop:
    - 80
    - 443
  tags:
    - security

- name: Activer UFW
  community.general.ufw:
    state: enabled
    policy: deny
  tags:
    - security
