# Cleanup: Remove old Cockpit installation
- name: Remove old Cockpit package (if any)
  ansible.builtin.apt:
    name: cockpit
    state: absent
    purge: true
  tags:
    - web_management

- name: Installer Cockpit
  ansible.builtin.apt:
    name: cockpit
    state: present
  tags:
    - web_management

- name: S'assurer que Cockpit est actif et démarré
  ansible.builtin.service:
    name: cockpit.socket
    state: started
    enabled: true
  tags:
    - web_management

- name: Autoriser Cockpit dans UFW
  community.general.ufw:
    rule: allow
    port: '9090' # Port par défaut de Cockpit
    proto: tcp
  tags:
    - web_management
